body {
}
.container {
    font-size: 0;
    border: 3px, solid, green;
}

.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: black;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid green;
    overflow: hidden;
}

    .box p {
        font-size: 16px;
        color: yellowgreen;
        text-align: center;
        margin-bottom: 20;
    }

.plus {
    display: block;
    width: 200px;
    height: 200px;
    background-color: black;
    color: lightyellow;
    font-size: 32px;
    border: none;
    cursor: pointer;
}


.top-panel {
    width: 100%;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.top-panel-content {

    margin: 0 auto;
    padding: 20px;
}
.top-panel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}
