@{
}
@model ClientViewModel
<link rel="stylesheet" href="~/css/AuthorisationStyles.css" />
<body>
    <div class="login-container">
        <h1 class="authorization-label">Авторизация</h1>
        <form asp-action="Login" asp-controller="Authorisation" method="post" class="login-form">
            <div class="centered-div">
                <p>
                    <input type="text"  name="login" class="login-field" placeholder="Login" value="@ViewBag.Login"/>
                </p>
                <p>
                    <input type="password" name="password" class="password-field" placeholder="Password" />
                </p>
                <p style="color: purple">@ViewBag.Error</p>
                <p>
                        <input type="submit" value="Войти" class="register-button" />
                </p>
                <a href="./Registration" style="color: purple;">Создать аккаунт</a>
            </div>
        </form>
    </div>
</body>