
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .container {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 80vh; 
    }

    .centered-div {
        justify-content: center; 
        align-items: center;

    }

    html {
        overflow: hidden;
    }

    .text{
        color: #3CB371;
    }
</style>
<body>
    <div class="container">
        <div class="centered-div">
            <h1 class="text">Авторизация</h1>
            <form asp-action="Login" asp-controller="Authorisation" method="post">
                <div class="centered-div">
                <p>
                    <input type="text" name="login" placeholder="Login"/>
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password" />
                </p>
                <p style="color: purple">@ViewBag.Error</p>
                <p>
                    <input type="submit" value="Войти" />
                </p>
                </div>
            </form>
            <a href="Authorisation/Registration" style="color: purple;">Создать аккаунт</a>
        </div>
    </div>
</body>