@{
}
@model Client
<link rel="stylesheet" href="~/css/AuthorisationStyles.css" />

<body>
    <div class="login-container">

        <h1 class="authorization-label">Регистрация</h1>
        <form asp-action="Registration" asp-controller="Authorisation" method="post" class="login-form">
            <p>
                <input asp-for="Login" placeholder="Login" class="login-field"/>
                <span asp-validation-for="Login"></span>
            </p>
            <p>
                 <input asp-for="Email" placeholder="Email" class="login-field"/>
                 <span asp-validation-for="Email"></span>
            </p>
            <p>
                <input asp-for="Password" placeholder="Password" type="password" class="password-field"/>
                <span asp-validation-for="Password"></span>
            </p>
            <p>
                <input type="submit" value="Войти" class="register-button" />
            </p>
        </form>
    </div>
</body>