
@{
}
@model List<Note>

<link rel="stylesheet" href="~/css/NotesStyles.css" />

<body>
    <div class="container">
        @Html.BlockGenerate(Model)
    <div class="box">
        <a class="plus" href="#openModal">Добавить заметку</a>
    </div>
</div>
<div id="openModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Название</h3>
        <a href="#close" title="Close" class="close">×</a>
      </div>
      <div class="modal-body">    
        <p>Содержимое модального окна...</p>
      </div>
    </div>
  </div>
</div>
</body>