
@{
}
@model List<Note>

<link rel="stylesheet" href="~/css/NotesStyles.css?v1" />
<script src="~/js/site.js"></script>
<body>
    <div class="top-panel">
        <div class="top-panel-content">
            <div style="position: relative;">
                <form asp-action="Login" asp-controller="Authorisation" method="get">
                    <input type="submit" value="Выйти из аккаунта" style="position: absolute; top: 0; right: 0;" />
                </form>
            </div>
            <button class="top-panel-button" value="fldkgjfdk">Button</button>
            <h1 style="color: white">lfkdgfd</h1>
        </div>
    </div>

    <div class="container">
        @Html.BlockGenerate(Model)
        <div class="box">
            <a class="plus" href="/Note/CreateNote?clientId=@ViewBag.ClientId">Добавить заметку</a>
        </div>
    </div>
    
</body>