
@{
}
@model List<Note>

<link rel="stylesheet" href="~/css/NotesStyles.css" />

<body>
    <div class="container">
        @Html.BlockGenerate(Model)
    <div class="box">
        <a class="plus" href="#openModal">Добавить заметку</a>
    </div>
<<<<<<< HEAD
    </div>
    @*Добавить форму на модальное окно для создания заметкиfd*@
    <div id="openModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Название</h3>
            <a href="#close" title="Close" class="close">×</a>
          </div>
          <div class="modal-body">    
            <p>Содержимое модального окна...</p>
          </div>
        </div>
      </div>
    </div>
=======
</div>
<div id="openModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Название</h3>
        <a href="#close" title="Close" class="close">×</a>
      </div>
      <div class="modal-body">    
        <p>Содержимое модального окна...</p>
      </div>
    </div>
  </div>
</div>
>>>>>>> 124675cca13018f3c8cac1117b8cba6add4c3219
</body>