
@{
}
@model List<Note>
<link rel="stylesheet" href="styles.css">
<style>
    .container {
        font-size: 0;
        border: 3px, solid, green;
    }

    .box {
      display: inline-block;
      width: 210px;
      height: 280px;
      margin-right: 20px;
      margin-bottom: 20px;
      border: 2px solid green;
      overflow: hidden;
      border-radius: 10px;
      background-image: linear-gradient(to top, rgba(green, 0.5), transparent);
    }

    .box p {
        font-size: 16px;          
        text-align: center;   
    }
    .noteText {
        color: forestgreen;
        height: 55px;
    }
    
    .noteTitle {
        color: lightgoldenrodyellow;
        height: 30px;
    }

    .plus {
        display: block;
        width: 200px;
        height: 200px;
        background-color: black;
        color: lightyellow;
        font-size: 32px;
        border: none;
        cursor: pointer;
    }

    .exit-container {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }

    .exit-button {
        width: 150px;
        font-size: 16px;
        padding: 10px;
        background-color: #ccc;
        border: none;
        cursor: pointer;
    }

    .btn-new {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: forestgreen;
    }

    .btn-new:hover {
        box-shadow: 0 0 0 2px green, 0 0 0 4px black;
    }
</style>

<body>
    <div class="exit-container">
        <form asp-action="Login" asp-controller="Authorisation" method="get">
            <input type="submit" value="Выйти из аккаунта" class="exit-button" />
        </form>
    </div>

    <div class="container" >
        @Html.BlockGenerate(Model)
        <div class="box">
            <p>
                <a class="plus" style="height: 250px; padding-top: 65px" href="/Note/CreateNote?clientId=@ViewBag.ClientId">Добавить заметку</a>
            </p>
        </div>
    </div>
    
</body>